<launch>
    <param name="init_name" value="perception_camera1"/>
    <param name="cam_name" value="cam_1"/>
    <param name="lidar_name" value="lidar_0"/>
    <param name="config_path" value="/home/zyc/work/superg_agv/src/perception/perception_camera/"/>
    <param name="image_obstacle_topic" value="/perception_camera/image_obstacle_info_1"/>
    <param name="lidar_topic" value="/drivers/velodyne/velodyne_points"/>
    <param name="pub_obstacle_info_topic" value="/perception/detection_camera_1"/>
    <param name="pub_rviz_bounding_box_topic" value="/perception_camera/rviz/make_bounding_box_1"/>
    <param name="pub_rviz_bounding_box_info_topic" value="/perception_camera/rviz/make_bounding_box_info_1"/>
    <param name="pub_rviz_split_pointcloud_with_camera_fov_topic" value="/perception_camera/rviz/split_pointcloud_with_camera_fov_1"/>
    <param name="pub_rviz_split_pointcloud_with_image_obstacle_info_topic" value="/perception_camera/rviz/split_pointcloud_with_image_obstacle_info_1"/>

    <param name="image_obstacle_publish_topic" value="/perception_camera/image_obstacle_info_1"/>
    <param name="pb_path" value="/home/zyc/work/superg_agv/src/perception/perception_camera/scripts/detection_models/ssd_inception_v2_no_tensorrt.pb"/>
    <param name="cam_cfg_path" value="/home/zyc/work/superg_agv/src/perception/perception_camera/scripts/config/cam_1.yaml"/>
    <param name="sub_image_topic" value="/usb_cam/image_raw"/>

    <node pkg = "perception_camera" type = "camera_obstacle_detection" name = "perception_camera1" output = "screen"/>
    <node pkg = "perception_camera" type = "main.py" name = "perception_camera_image1" output = "screen"/>
</launch>