<launch>
   <rosparam command="load" file="$(find control)/config/control_params.yaml"/>
   <node pkg="control" type="control" name="control" output="screen" args="5"/>
   <node pkg="control" type="showtrajectory" name="showtrajectory"/>
   <node pkg="rviz" type="rviz" name="rviz"/>
   <!--<node pkg="can_wr" type="can_wr_n" name="imu_gnss"/>-->
   <!--<node pkg="com2agv" type="com2agv" name="com2agv"/>-->

</launch>
